---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <h1>Documentos</h1>
  <ul>
    <li><a href="/docs/Vetorialetica">Vetorialética</a></li>
    <li><a href="/docs/FSP_ModeloNuvem">Física Sem Partículas</a></li>
    <li><a href="/docs/Tokenomics">Tokenomics</a></li>
    <li><a href="/docs/7aRepublica">7ª República</a></li>
  </ul>
</Layout>
