---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <section style="padding: 2rem">
    <h1>Bem-vindo ao Orpheus Portal</h1>
    <p>
      Este é o núcleo da nova ciência vetorial: Física Sem Partículas, Modelo Núvem e Vetorialética.
    </p>
    <p>
      Explore os documentos, estudos e a aplicação prática desta revolução epistemológica rumo a uma
      tecnologia verdadeiramente sustentável.
    </p>
  </section>
</Layout>
