---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Sobre o Projeto Orpheus</h1>
  <p>
    O Portal Orpheus é um espaço digital para pesquisa, publicação e colaboração em torno da ciência vetorial, blockchain descentralizada e novas formas de organização social.
  </p>
  <p>
    Aqui, reunimos documentos, livros e experiências sobre a Física Sem Partículas, a Vetorialética e suas aplicações tecnológicas, epistemológicas e políticas.
  </p>
</Layout>
